@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme{
  --font-roboto: "Roboto", sans-serif;
  --font-inter:"Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
body{
  @apply m-0 p-0 box-border;
}
.wrapper{
  @apply px-[70px]
}
nav{
  box-shadow: 2px 2px 12px 1px #4D607D14;
}

#course option{
  color: black;
}
.bluebtn{
  @apply bg-[#1B99D4] py-[9px] px-5 text-white cursor-pointer
}
.bluebtnmini{
  @apply bg-[#1B99D4] py-[9px] px-2 text-white cursor-pointer
}
.whitebtn{
  @apply bg-[#ffffff] py-[9px] px-5 rounded-[5px] text-[#272727] cursor-pointer
}
form{
  box-shadow: 1px 5px 50px 0 #54637A;
  padding: 33px 30px;
}
.applyForm>input, .applyForm>select{
@apply outline-1 rounded-[5px] py-[12.5px] px-3 text-gray-500
}
.rate{
  @apply font-bold text-[32px] leading-8 tracking-[0.1px]
}
.card{
  box-shadow: 0.91px 4.57px 45.7px 0px #54637A;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 25px;
  
}
.alumni-card{
  box-shadow: 1px 5px 50px 0px #54637A;
  border-radius: 12px;
}
.counseling>input, .counseling>select{
  padding: 12.5px 0 12.5px 12px;
  border: 1px solid #E6E9FC;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.1px;
  color:#727695;
  line-height: 100%;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}
.couponhead{
  border-bottom: 1px dashed #D9D9D9;
}

.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.coupon::before {
  left: 0;
  background-image: radial-gradient(
    circle at 0 45%,
    #D9D9D9 16px,
    white 10px
  );
}

.coupon::after {
  right: 0;
  background-image: radial-gradient(
    circle at 100% 45%,
    #D9D9D9 16px,
    white 10px
  );
}
.szh-accordion__item-heading{
  width: 100%;
  border: 1px solid #C1C1C1;
}